+++
title = "neverpile eureka - documentation"
linkTitle = "neverpile eureka - documentation"

+++

{{< blocks/cover title="Welcome to the neverpile eureka documentation site" image_anchor="center" height="min" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href='{{ relref."docs" }}'>
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/levigo/neverpile-eureka">
		Get the sources <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">The document archive system for the cloud generation</p>
	<div class="mx-auto mt-5">{{< blocks/link-down color="info" >}}</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Neverpile eureka takes the pain out of maintaining document archives by leveraging modern, cloud-era technology without sacrificing data integrity and auditability. 
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-compress" title="Reduce to the max!" %}}
Neverpile eureka gets rid of all the dead weight that makes traditional ECM and archiving systems a pain to maintain and instead focuses on what's important: keeping your data safe.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/levigo/neverpile-eureka-documentation" %}}
We do a [Pull Request](https://github.com/levigo/neverpile-eureka-documentation/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-envelope-open" title="Contact us!"%}}
[solutions@levigo.de](mailto:solutions@levigo.de)
{{% /blocks/feature %}}


{{< /blocks/section >}}